@model MvcDemo.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Default symbol selector</h2>

<pmad-symbol-selector asp-for="Symbol1" />

<h2>Extended symbol selector</h2>

<pmad-symbol-selector asp-for="Symbol2" layout="Extended" />

<h2>OrbatIcon symbol selector</h2>

<pmad-symbol-selector asp-for="Symbol3" layout="OrbatIcon" />

<h2>Sample ORBAT</h2>

<pmad-orbat root-unit="@Model.RootUnit" />

<h2>Sample Markdown</h2>

@Html.Raw(MvcDemoBS5.MarkdownToHtml.ConvertMarkdownToHtml(Model.Markdown))

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function(){

            PmadMilsymbolSelector.setOptions("Symbol1", {

                getSymbolOptions: function(){

                    return {
                    commonIdentifier: "Identifier",
                    uniqueDesignation: "1.2.3.4",
                    
                    };
                },
                symbolUpdatedCallback: function(sidc, options, symbol)
                {
                    console.log(sidc, options, symbol);
                }

            });
        });
    </script>
}